Source: rocm-rccl
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr-dev,
 rocm-hipify-clang-dev,
 rocm-llvm,
 rocm-rocminfo,
 rocm-smi-lib-dev,
 libgtest-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rccl
Vcs-Browser: https://github.com/r-rocm/rocm-rccl
Vcs-Git: https://github.com/r-rocm/rocm-rccl.git

Package: rocm-rccl
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr,
 rocm-hipify-clang,
 rocm-rocminfo,
 rocm-smi-lib,
Description: ROCm Communication Collectives Library
 RCCL (pronounced "Rickle") is a stand-alone library of standard collective
 communication routines for GPUs, implementing all-reduce, all-gather, reduce,
 broadcast, reduce-scatter, gather, scatter, and all-to-all. There is also
 initial support for direct GPU-to-GPU send and receive operations. It has been
 optimized to achieve high bandwidth on platforms using PCIe, xGMI as well as
 networking using InfiniBand Verbs or TCP/IP sockets. RCCL supports an arbitrary
 number of GPUs installed in a single node or multiple nodes, and can be used in
 either single- or multi-process (e.g., MPI) applications.
