Source: rocm-rccl
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 rocm-cmake,
 rocm-core-rocm,
 rocm-env,
 rocm-hip-on-rocclr-dev,
 rocm-hipify-clang-dev,
 rocm-llvm,
 rocm-smi-lib,
 libgtest-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rccl
Vcs-Browser: https://github.com/r-rocm/rocm-rccl
Vcs-Git: https://github.com/r-rocm/rocm-rccl.git

Package: rocm-rccl
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-hipify-clang-dev,
 rocm-smi-lib,
Description: HIPIFY: Convert CUDA to Portable C++ Code.
 HIPIFY is a set of tools that you can use to automatically translate CUDA
 source code into portable HIP C++.
